@charset 'utf-8';

@font-face {
  font-family: 'Oswald Regular';
  src: url('/font/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('/font/Oswald-Bold.ttf') format('truetype');
  font-style: normal;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Main-btn {
  display: block;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.Main-btn._blank span {
  display: block;
  background: url('/img/icon_blank.png') 100% 50% no-repeat;
}

.Main-btn._search {
  position: relative;
}

.Main-btn._search span {
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
}

.Main-btn._search:after {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

.Main-btn._w {
  background-color: #fff;
  color: #d30000;
  font-weight: bold;
}

.Main-btn._w._blank span {
  background-image: url('/img/icon_link_blank.png');
}

.Main-btn._cancel {
  background-color: #aaa;
}

.Main-btn input[type=submit], .Main-btn input[type=button] {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Main-btn {
    border-radius: 3.2vw;
  }

  .Main-btn._s {
    padding: 2.13333vw 0;
    font-size: 2.4vw;
  }

  .Main-btn._m {
    padding: 2vw 0;
    font-size: 3.2vw;
  }

  .Main-btn._m input[type=submit], .Main-btn._m input[type=button] {
    font-size: 3.2vw;
  }

  .Main-btn._l {
    padding: 1.33333vw 0;
    font-size: 3.46667vw;
  }

  .Main-btn._search span {
    min-height: 3.33333vw;
    margin: 0 3.86667vw;
    background-size: 3.33333vw 3.33333vw;
    line-height: 3.33333vw;
  }

  .Main-btn._search:after {
    left: 3.86667vw;
    height: 3.33333vw;
    width: 3.33333vw;
    background-size: 3.33333vw 3.33333vw;
  }

  .Main-btn._blank span {
    margin: 0 3.86667vw;
    background-size: 1.86667vw 1.86667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Main-btn {
    opacity: 1;
    border-radius: 24px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Main-btn:hover {
    opacity: 0.7;
  }

  .Main-btn._s {
    padding: 11px 0;
    font-size: 12px;
  }

  .Main-btn._m {
    padding: 15px 0;
    font-size: 14px;
  }

  .Main-btn._m input[type=submit], .Main-btn._m input[type=button] {
    font-size: 14px;
  }

  .Main-btn._l {
    padding: 12px 0;
    font-size: 26px;
  }

  .Main-btn._search {
    padding: 12px 0 !important;
  }

  .Main-btn._search span {
    min-height: 20px;
    margin: 0 29px;
    background-size: 20px 20px;
    line-height: 20px;
  }

  .Main-btn._search:after {
    left: 29px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }

  .Main-btn._blank span {
    margin: 0 29px;
    background-size: 14px 14px;
  }
}

@media screen and (max-width: 767px) {
  .Main-inner {
    padding: 0 0 9.33333vw;
  }

  .Main-col + .Main-col {
    margin: 6.66667vw 0 0;
  }

  .Main-btn {
    margin: 0 5.33333vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1240px;
    margin: 0 auto;
    padding: 0 0 70px;
  }

  .Main-col {
    width: 100%;
  }

  .Main-col + .Main-col {
    margin: 0 0 0 20px;
  }

  .Main-btn {
    width: 330px;
  }
}

.Recipe > div {
  background: url('/img/bg0.png') 50% 0 repeat;
}

@media screen and (max-width: 767px) {
  .Recipe > div {
    margin: 1.33333vw 0 0;
    padding: 8vw 2.66667vw 4vw;
    background-size: 18vw auto;
  }
}

@media print, screen and (min-width: 768px) {
  .Recipe > div {
    margin: 15px 0 0;
    padding: 51px 0 41px;
  }
}

.Recipe-item {
  background-color: #fff;
  border: 1px solid #ededed;
}

.Recipe-item a {
  color: #000;
  text-decoration: none;
}

.Recipe-item figure {
  overflow: hidden;
  border-top: 1px solid #ededed;
  line-height: 0;
}

.Recipe-h {
  letter-spacing: 0.05em;
  line-height: 1;
}

.Recipe-h span {
  display: block;
  font-family: 'Oswald Regular';
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .Recipe-box {
    padding: 5.33333vw 5.33333vw 2.66667vw;
  }

  .Recipe-h {
    font-size: 2.93333vw;
  }

  .Recipe-h span {
    margin: 0 0 1.73333vw;
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Recipe a {
    overflow: hidden;
  }

  .Recipe a img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transform: scale(1);
  }

  .Recipe a:hover img {
    opacity: 0.6;
    transform: scale(1.05);

    -webkit-transform: scale(1.05);
  }

  .Recipe a p {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Recipe a p span {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Recipe a:hover p {
    color: #d30000;
  }

  .Recipe a:hover p span {
    color: #d30000;
  }

  .Recipe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }

  .Recipe-box {
    padding: 40px 40px 20px;
  }

  .Recipe-h {
    font-size: 16px;
  }

  .Recipe-h span {
    margin: 0 0 13px;
    font-size: 22px;
  }
}

.Recipe-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Recipe-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.Recipe-tit span + span {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic;
}

@media screen and (max-width: 767px) {
  .Recipe-tit {
    font-size: 3.2vw;
  }

  .Recipe-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Recipe-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Recipe-tit {
    font-size: 18px;
  }

  .Recipe-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Recipe-tit span + span {
    font-size: 18px;
  }
}

.Recipe-comingsoon {
  position: relative;
  display: block;
}

.Recipe-comingsoon:before, .Recipe-comingsoon:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.Recipe-comingsoon:before {
  content: '';
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Recipe-comingsoon:after {
  left: 0;
  top: 50%;
  content: 'COMING SOON';
  z-index: 3;
  width: 100%;
  color: #fff;
  font-family: 'Oswald Regular';
  letter-spacing: 0.1em;
  line-height: 0;
  text-align: center;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .Recipe-inner {
    padding: 8vw 5.33333vw 13.33333vw !important;
  }

  .Recipe-tit {
    margin: 0 0 6.66667vw;
  }

  .Recipe-item {
    margin: 5.33333vw 0 0;
  }

  .Recipe-item:first-child {
    margin: 0;
  }

  .Recipe-comingsoon:after {
    font-size: 6.66667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Recipe-inner {
    padding: 51px 0 70px !important;
  }

  .Recipe-tit {
    margin: 0 0 50px;
  }

  .Recipe-list {
    width: 1240px;
  }

  .Recipe-item {
    width: 610px;
    margin: 0 0 0 20px;
  }

  .Recipe-item:first-child {
    margin: 0;
  }

  .Recipe-comingsoon:after {
    font-size: 40px;
  }
}

.Movie > div {
  position: relative;
  border-top: 1px solid #f2f2f2;
}

.Movie > div:before {
  position: absolute;
  left: 50%;
  top: -1px;
  content: '';
  display: block;
  background-image: url('/img/bg1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .Movie > div {
    margin: 6.66667vw 0 0;
    padding: 6.66667vw 5.33333vw 0;
  }

  .Movie > div:before {
    height: 2.13333vw;
    width: 6.13333vw;
    background-size: 6.13333vw auto;
  }
}

@media print, screen and (min-width: 768px) {
  .Movie > div {
    margin: 45px 0 0;
    padding: 70px 0 0;
  }

  .Movie > div._enjoy {
    margin: 23px 0 0;
  }

  .Movie > div:before {
    height: 16px;
    width: 46px;
  }
}

.Movie-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Movie-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.Movie-tit span + span {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic;
}

@media screen and (max-width: 767px) {
  .Movie-tit {
    font-size: 3.2vw;
  }

  .Movie-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Movie-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Movie-tit {
    font-size: 18px;
  }

  .Movie-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Movie-tit span + span {
    font-size: 18px;
  }
}

.Movie-main, .Movie-item {
  line-height: 0;
}

.Movie-main a, .Movie-item a {
  position: relative;
  display: block;
}

.Movie-main a:before, .Movie-main a:after, .Movie-item a:before, .Movie-item a:after {
  position: absolute;
  content: '';
  display: block;
}

.Movie-main a._stop:before, .Movie-item a._stop:before {
  left: 0;
  top: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Movie-main a._stop:after, .Movie-item a._stop:after {
  left: 50%;
  top: 50%;
  z-index: 12;
  background: url('/img/icon_play.png') 0 0 no-repeat;
  transform: translate(-50%, -50%);

  -webkit-transform: translate(-50%, -50%);
}

.Movie-main a._stop img, .Movie-item a._stop img {
  z-index: 10;
}

.Movie-main a._stop .Movie-player, .Movie-item a._stop .Movie-player {
  opacity: 0;
  z-index: 9;
}

.Movie-main a._play:before, .Movie-main a._play:after, .Movie-item a._play:before, .Movie-item a._play:after {
  display: none;
}

.Movie-main a._play img, .Movie-item a._play img {
  z-index: 9;
}

.Movie-main a._play .Movie-player, .Movie-item a._play .Movie-player {
  opacity: 1;
  z-index: 10;
}

.Movie-main a img, .Movie-item a img {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.Movie-main a .Movie-player, .Movie-item a .Movie-player {
  position: absolute;
  left: 0;
  top: 0;
}

.Movie-main p {
  letter-spacing: 0.05em;
}

.Movie-item img {
  border: 1px solid #ededed;
}

.Movie-btn {
  display: block;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.Movie-btn._blank span {
  display: block;
  background: url('/img/icon_blank.png') 100% 50% no-repeat;
}

.Movie-btn._search {
  position: relative;
}

.Movie-btn._search span {
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
}

.Movie-btn._search:after {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

.Movie-btn._w {
  background-color: #fff;
  color: #d30000;
  font-weight: bold;
}

.Movie-btn._w._blank span {
  background-image: url('/img/icon_link_blank.png');
}

.Movie-btn._cancel {
  background-color: #aaa;
}

.Movie-btn input[type=submit], .Movie-btn input[type=button] {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Movie-btn {
    border-radius: 3.2vw;
  }

  .Movie-btn._s {
    padding: 2.13333vw 0;
    font-size: 2.4vw;
  }

  .Movie-btn._m {
    padding: 2vw 0;
    font-size: 3.2vw;
  }

  .Movie-btn._m input[type=submit], .Movie-btn._m input[type=button] {
    font-size: 3.2vw;
  }

  .Movie-btn._l {
    padding: 1.33333vw 0;
    font-size: 3.46667vw;
  }

  .Movie-btn._search span {
    min-height: 3.33333vw;
    margin: 0 3.86667vw;
    background-size: 3.33333vw 3.33333vw;
    line-height: 3.33333vw;
  }

  .Movie-btn._search:after {
    left: 3.86667vw;
    height: 3.33333vw;
    width: 3.33333vw;
    background-size: 3.33333vw 3.33333vw;
  }

  .Movie-btn._blank span {
    margin: 0 3.86667vw;
    background-size: 1.86667vw 1.86667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Movie-btn {
    opacity: 1;
    border-radius: 24px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Movie-btn:hover {
    opacity: 0.7;
  }

  .Movie-btn._s {
    padding: 11px 0;
    font-size: 12px;
  }

  .Movie-btn._m {
    padding: 15px 0;
    font-size: 14px;
  }

  .Movie-btn._m input[type=submit], .Movie-btn._m input[type=button] {
    font-size: 14px;
  }

  .Movie-btn._l {
    padding: 12px 0;
    font-size: 26px;
  }

  .Movie-btn._search {
    padding: 12px 0 !important;
  }

  .Movie-btn._search span {
    min-height: 20px;
    margin: 0 29px;
    background-size: 20px 20px;
    line-height: 20px;
  }

  .Movie-btn._search:after {
    left: 29px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }

  .Movie-btn._blank span {
    margin: 0 29px;
    background-size: 14px 14px;
  }
}

.Movie-bnr {
  border: 1px solid #ededed;
}

@media screen and (max-width: 767px) {
  .Movie {
    padding: 9.33333vw 0;
  }

  .Movie-main {
    margin: 0 0 5.33333vw;
  }

  .Movie-main p {
    margin: 1.86667vw 0 0;
    font-size: 2.93333vw;
    line-height: 1.5;
  }

  .Movie-main a._stop:after {
    height: 11.73333vw;
    width: 11.73333vw;
    background-size: 11.73333vw 11.73333vw;
  }

  .Movie-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 5.33333vw;
  }

  .Movie-item + .Movie-item {
    margin: 0 0 0 4vw;
  }

  .Movie-item a._stop:after {
    height: 8.53333vw;
    width: 8.53333vw;
    background-size: 8.53333vw 8.53333vw;
  }

  .Movie-btn {
    margin: 0 5.33333vw;
  }

  .Movie-bnr {
    margin: 20px 0 0 !important;
  }
}

@media print, screen and (min-width: 768px) {
  .Movie {
    width: 1050px;
    margin: 0 auto;
    padding: 70px 0;
  }

  .Movie-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 45px 0 30px !important;
  }

  .Movie-main a, .Movie-item a {
    overflow: hidden;
  }

  .Movie-main a img, .Movie-item a img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transform: scale(1);
  }

  .Movie-main a:hover img, .Movie-item a:hover img {
    opacity: 0.6;
    transform: scale(1.05);

    -webkit-transform: scale(1.05);
  }

  .Movie-main a:after, .Movie-item a:after {
    height: 80px;
    width: 80px;
    background-size: 80px 80px;
  }

  .Movie-main {
    width: 610px;
    margin: 0 40px 0 0;
  }

  .Movie-main p {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 1.7;
  }

  .Movie-list {
    width: 400px;
  }

  .Movie-item + .Movie-item {
    margin: 40px 0 0;
  }

  .Movie-btn {
    width: 430px;
  }

  .Movie-bnr {
    margin: 33px 0 0 !important;
  }
}

.Section {
  border: 1px solid #ededed;
}

.Section > div {
  position: relative;
  border-top: 1px solid #f2f2f2;
}

.Section > div:before {
  position: absolute;
  left: 50%;
  top: -1px;
  content: '';
  display: block;
  background-image: url('/img/bg1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .Section > div {
    margin: 6.66667vw 0 0;
    padding: 6.66667vw 5.33333vw 0;
  }

  .Section > div:before {
    height: 2.13333vw;
    width: 6.13333vw;
    background-size: 6.13333vw auto;
  }
}

@media print, screen and (min-width: 768px) {
  .Section > div {
    margin: 45px 0 0;
    padding: 70px 0 0;
  }

  .Section > div._enjoy {
    margin: 23px 0 0;
  }

  .Section > div:before {
    height: 16px;
    width: 46px;
  }
}

.Section._campaign .Section-tit span {
  background-image: url('/img/icon_campaign.png');
}

.Section._sports .Section-tit span {
  background-image: url('/img/icon_sports.png');
}

.Section-tit {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.Section-tit span {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .Section {
    margin: 0 5.33333vw 5.33333vw;
    padding: 2.66667vw 0 0;
  }

  .Section-inner {
    margin: 2.66667vw 0 0 !important;
    padding: 5.33333vw !important;
  }

  .Section._campaign .Section-tit {
    line-height: 4.66667vw;
  }

  .Section._campaign .Section-tit span {
    min-height: 4.66667vw;
    padding: 0 0 0 9.2vw;
    background-size: 6.53333vw 4.66667vw;
  }

  .Section._sports .Section-tit {
    line-height: 6vw;
  }

  .Section._sports .Section-tit span {
    min-height: 6vw;
    padding: 0 0 0 8.4vw;
    background-size: 6.26667vw 6vw;
  }

  .Section-tit {
    font-size: 3.6vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Section {
    margin: 0 0 30px;
    padding: 22px 0 0;
  }

  .Section._campaign .Section-inner {
    padding: 40px 40px 20px !important;
  }

  .Section._campaign .Section-tit {
    line-height: 23px;
  }

  .Section._campaign .Section-tit span {
    min-height: 23px;
    padding: 0 0 0 46px;
    background-size: 33px 23px;
  }

  .Section._sports .Section-inner {
    padding: 40px 40px 20px !important;
  }

  .Section._sports .Section-tit {
    line-height: 25px;
  }

  .Section._sports .Section-tit span {
    min-height: 25px;
    padding: 0 0 0 37px;
    background-size: 26px 25px;
  }

  .Section-tit {
    font-size: 18px;
  }

  .Section-tit {
    min-height: 25px;
  }
}

.Munsell-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Munsell-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.Munsell-tit span + span {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic;
}

@media screen and (max-width: 767px) {
  .Munsell-tit {
    font-size: 3.2vw;
  }

  .Munsell-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Munsell-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Munsell-tit {
    font-size: 18px;
  }

  .Munsell-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Munsell-tit span + span {
    font-size: 18px;
  }
}

.Munsell._pre {
  position: relative;
  background-color: #abf3e3;
}

.Munsell._pre .Munsell-tit {
  color: #fff;
  letter-spacing: 0.1em;
}

.Munsell-btn {
  display: block;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.Munsell-btn._blank span {
  display: block;
  background: url('/img/icon_blank.png') 100% 50% no-repeat;
}

.Munsell-btn._search {
  position: relative;
}

.Munsell-btn._search span {
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
}

.Munsell-btn._search:after {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

.Munsell-btn._w {
  background-color: #fff;
  color: #d30000;
  font-weight: bold;
}

.Munsell-btn._w._blank span {
  background-image: url('/img/icon_link_blank.png');
}

.Munsell-btn._cancel {
  background-color: #aaa;
}

.Munsell-btn input[type=submit], .Munsell-btn input[type=button] {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Munsell-btn {
    border-radius: 3.2vw;
  }

  .Munsell-btn._s {
    padding: 2.13333vw 0;
    font-size: 2.4vw;
  }

  .Munsell-btn._m {
    padding: 2vw 0;
    font-size: 3.2vw;
  }

  .Munsell-btn._m input[type=submit], .Munsell-btn._m input[type=button] {
    font-size: 3.2vw;
  }

  .Munsell-btn._l {
    padding: 1.33333vw 0;
    font-size: 3.46667vw;
  }

  .Munsell-btn._search span {
    min-height: 3.33333vw;
    margin: 0 3.86667vw;
    background-size: 3.33333vw 3.33333vw;
    line-height: 3.33333vw;
  }

  .Munsell-btn._search:after {
    left: 3.86667vw;
    height: 3.33333vw;
    width: 3.33333vw;
    background-size: 3.33333vw 3.33333vw;
  }

  .Munsell-btn._blank span {
    margin: 0 3.86667vw;
    background-size: 1.86667vw 1.86667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Munsell-btn {
    opacity: 1;
    border-radius: 24px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Munsell-btn:hover {
    opacity: 0.7;
  }

  .Munsell-btn._s {
    padding: 11px 0;
    font-size: 12px;
  }

  .Munsell-btn._m {
    padding: 15px 0;
    font-size: 14px;
  }

  .Munsell-btn._m input[type=submit], .Munsell-btn._m input[type=button] {
    font-size: 14px;
  }

  .Munsell-btn._l {
    padding: 12px 0;
    font-size: 26px;
  }

  .Munsell-btn._search {
    padding: 12px 0 !important;
  }

  .Munsell-btn._search span {
    min-height: 20px;
    margin: 0 29px;
    background-size: 20px 20px;
    line-height: 20px;
  }

  .Munsell-btn._search:after {
    left: 29px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }

  .Munsell-btn._blank span {
    margin: 0 29px;
    background-size: 14px 14px;
  }
}

@media screen and (max-width: 767px) {
  .Munsell._pre {
    padding: 17.33333vw 0 9.33333vw;
  }

  .Munsell._pre .Munsell-tit {
    margin: 0 0 11.33333vw;
    font-size: 5.33333vw;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  }

  .Munsell._pre .Munsell-tit img {
    height: auto;
    width: 33.2vw;
  }

  .Munsell-btn {
    margin: 0 5.33333vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Munsell._pre {
    height: 306px;
    margin: 48px 0 -50px;
    padding: 70px 0 0;
    border-top: 1px solid #ededed;
  }

  .Munsell._pre .Munsell-tit {
    margin: 0 0 71px;
    font-size: 38px;
  }

  .Munsell._pre .Munsell-tit img {
    height: auto;
    width: 249px;
  }

  .Munsell-btn {
    width: 330px;
  }
}

.CampaignEntry-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
}

.CampaignEntry-item img {
  border: 1px solid #ededed;
}

.CampaignEntry-item p {
  letter-spacing: 0.05em;
}

.CampaignEntry-end {
  display: block;
  color: #f00;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .CampaignEntry-item figure {
    width: 24vw;
    min-width: 24vw;
    margin: 0 4.66667vw 0 0;
  }

  .CampaignEntry-item p {
    font-size: 2.93333vw;
    line-height: 1.5;
  }

  .CampaignEntry + .CampaignEntry {
    margin: 5.33333vw 0 0;
  }
}

@media print, screen and (min-width: 768px) {
  .CampaignEntry-item figure {
    width: 350px;
    min-width: 120px;
    margin: 0 40px 0 0;
  }

  .CampaignEntry-item p {
    font-size: 14px;
    line-height: 1.7;
  }

  .CampaignEntry + .CampaignEntry {
    margin: 20px 0 0;
  }
}

.SportsEntry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SportsEntry-pic {
  line-height: 0;
}

.SportsEntry-pic img {
  border: 1px solid #ededed;
}

.SportsEntry-name {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.SportsEntry-name span {
  display: block;
}

.SportsEntry a {
  color: #d30000;
  text-decoration: none;
}

.SportsEntry a._blank {
  background: url('/img/icon_link_blank.png') 100% 50% no-repeat;
}

@media screen and (max-width: 767px) {
  .SportsEntry a._blank {
    padding: 0 4.8vw 0 0;
    background-size: 3.2vw 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .SportsEntry a._blank {
    padding: 0 30px 0 0;
    background-size: 14px 14px;
  }
}

.SportsEntry dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SportsEntry dl + dl {
  border-top: 1px solid #e6e6e6;
}

@media screen and (max-width: 767px) {
  .SportsEntry-pic {
    width: 22.66667vw;
    margin: 0 5.33333vw 0 0;
  }

  .SportsEntry-name {
    margin: 0 0 1.33333vw;
    font-size: 3.2vw;
    line-height: 1.4;
  }

  .SportsEntry-name span {
    font-size: 2.93333vw;
  }

  .SportsEntry dt, .SportsEntry dd {
    padding: 2vw 0;
    font-size: 2.93333vw;
    line-height: 1.5;
  }

  .SportsEntry dt {
    width: 15.33333vw;
  }
}

@media print, screen and (min-width: 768px) {
  .SportsEntry-pic {
    width: 170px;
    margin: 0 40px 0 0;
  }

  .SportsEntry-name {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.2;
  }

  .SportsEntry-name span {
    margin: 0 0 7px;
    font-size: 14px;
  }

  .SportsEntry dt, .SportsEntry dd {
    padding: 15px 0;
    font-size: 14px;
  }

  .SportsEntry dt {
    width: 85px;
  }
}
