@charset 'utf-8';

@font-face {
  font-family: 'Oswald Regular';
  src: url('/font/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('/font/Oswald-Bold.ttf') format('truetype');
  font-style: normal;
}

@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* **************************************************************************************

RESET

************************************************************************************** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  font-weight: normal;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

area {
  border: none;
  outline: none;
}

abbr, acronym {
  border: 0;
}

* {
  box-sizing: border-box;
}

body, html {
  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  background-color: #fff;
}

input, textarea {
  appearance: none;
  border: 0;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  appearance: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=submit], input[type=button] {
  cursor: pointer;
}

input, textarea {
  appearance: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  outline: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

figure {
  line-height: 0;
}

img {
  height: auto;
  width: 100%;
}

body > iframe {
  display: none;
}

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 100;
}

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 200;
}

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 300;
}

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 400;
}

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Bold');
  font-weight: bold;
}

body {
  position: relative;
  font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

input, textarea, select, button {
  font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

main {
  position: relative;
  display: block;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }

  .pc {
    display: none;
  }

  .Wrap {
    width: 100%;
  }

  .Wrap.fixed {
    position: fixed;
  }
}

@media print, screen and (min-width: 768px) {
  html, body {
    min-width: 1240px;
  }

  body {
    opacity: 0;
  }

  .sp {
    display: none;
  }

  .Container {
    min-width: 1320px;
  }
}

.js-changeimg {
  display: none;
}

.Header {
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.Header-logo {
  line-height: 0;
}

.Header-nav {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .Header {
    height: 17.33333vw;
  }

  .Header.relative {
    position: relative;
  }

  .Header.fixed {
    position: fixed;
  }

  .Header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40.66667vw;
    transform: translate(-50%, -50%);

    -webkit-transform: translate(-50%, -50%);
  }

  .Header-btn {
    display: inline-block;
  }

  .Header-btn._menu {
    position: absolute;
    left: 5.46667vw;
    top: 50%;
    height: 6.53333vw;
    width: 6.53333vw;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
  }

  .Header-btn._menu:before, .Header-btn._menu:after {
    content: '';
  }

  .Header-btn._menu:before, .Header-btn._menu:after, .Header-btn._menu span {
    position: absolute;
    display: block;
    background-color: #d30000;
  }

  .Header-btn._menu.is-close:before, .Header-btn._menu.is-close:after, .Header-btn._menu.is-close span {
    height: 2px;
    width: 100%;
  }

  .Header-btn._menu.is-close:before {
    top: 0;
  }

  .Header-btn._menu.is-close:after {
    top: 4vw;
  }

  .Header-btn._menu.is-close span {
    top: 2vw;
  }

  .Header-btn._menu.is-open:before, .Header-btn._menu.is-open:after {
    height: 2px;
    width: 100%;
  }

  .Header-btn._menu.is-open:before {
    top: 2.4vw;
    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);
  }

  .Header-btn._menu.is-open:after {
    top: 2.4vw;
    transform: rotate(-45deg);

    -webkit-transform: rotate(-45deg);
  }

  .Header-btn._menu.is-open span {
    display: none;
  }

  .Header-btn._share {
    position: absolute;
    right: 5.33333vw;
    top: 50%;
    height: 6.53333vw;
    width: 6.53333vw;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
  }

  .Header-btn._share span {
    display: block;
    height: 100%;
    width: 100%;
  }

  .Header-btn._share span img {
    height: 100%;
    width: auto;
  }

  .Header-btn._share span:before, .Header-btn._share span:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #000;
  }

  .Header-btn._share.is-close span:before, .Header-btn._share.is-close span:after {
    display: none;
  }

  .Header-btn._share.is-open img {
    display: none;
  }

  .Header-btn._share.is-open span:before, .Header-btn._share.is-open span:after {
    display: block;
    height: 2px;
    width: 100%;
  }

  .Header-btn._share.is-open span:before {
    top: 2.4vw;
    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);
  }

  .Header-btn._share.is-open span:after {
    top: 2.4vw;
    transform: rotate(-45deg);

    -webkit-transform: rotate(-45deg);
  }

  .Header-nav {
    position: absolute;
    left: 0;
    top: 17.33333vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    min-width: 1240px;
  }

  .Header-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1240px;
    margin: 0 auto;
  }

  .Header-logo {
    position: relative;
    top: 27px;
    width: 211px;
    margin: 0 66px 0 0;
  }

  .Header-btn {
    display: none;
  }

  .Header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }

  .Header-nav:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    display: block;
    z-index: 0;
    height: 80px;
    width: 100%;
    background-color: #f1f1ec;
  }

  .Header-share {
    height: 80px;
    background-color: #f1f1ec;
  }
}

.Gnav a {
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Gnav {
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
  }

  .Gnav-list {
    padding: 2.66667vw 5.33333vw 5.33333vw;
  }

  .Gnav-item {
    border-bottom: 1px solid #4d4d4d;
  }

  .Gnav-item._g {
    line-height: 0;
  }

  .Gnav-item._g img {
    height: 4.8vw;
    width: auto;
  }

  .Gnav a {
    display: block;
    padding: 4vw 2.66667vw;
    color: #fff;
    font-size: 3.2vw;
    letter-spacing: 0.1em;
  }

  .Gnav a span {
    display: block;
    background: url('/img/arr4.png') 100% 50% no-repeat;
    background-size: 2vw 3.46667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Gnav {
    display: block !important;
    z-index: 2;
    padding: 25px 0 0;
    background: #fff;
  }

  .Gnav a {
    display: table-cell;
    padding: 0 38px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.2em;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Gnav a:hover {
    color: #d30000 !important;
  }

  .Gnav a span {
    position: relative;
    top: 8px;
    display: inline-block;
  }

  .Gnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Gnav-item {
    position: relative;
    display: table;
    height: 100%;
    width: auto;
  }

  .Gnav-item._active:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #d30000;
  }

  .Gnav-item:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    height: 30px;
    width: 1px;
    background-color: #e6e6e6;
  }

  .Gnav-item:first-child:before {
    display: none;
  }

  .Gnav-item._sp {
    display: none;
  }
}

.Footer {
  background-color: #fbfbf9;
}

.Footer-wrap {
  background-color: #f1f1ec;
}

.Footer-logo, .Footer-pic {
  line-height: 0;
}

.Footer-copyright {
  color: #666;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .Footer {
    position: relative;
    margin: -13.33333vw 0 0;
  }

  .Footer-wrap {
    padding: 8vw 0 0;
  }

  .Footer-inner._main {
    padding: 0 5.33333vw;
  }

  .Footer-logo {
    width: 33.33333vw;
  }

  .Footer-pic {
    margin: 6.66667vw 0;
    padding: 0 5.33333vw;
  }

  .Footer-copyright {
    padding: 4.66667vw 0;
    background-color: #deded9;
    font-size: 2.66667vw;
    text-align: center;
  }
}

@media print, screen and (min-width: 768px) {
  .Footer {
    min-width: 1240px;
    /*padding: 50px 0 0;*/
  }

  .Footer-wrap {
    padding: 0 0 20px;
  }

  .Footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1240px;
  }

  .Footer-inner._inner {
    margin: 0 auto;
  }

  .Footer-inner._main {
    width: auto;
    margin: 0 auto 15px;
  }

  .Footer-main {
    padding: 36px 0 0;
  }

  .Footer-sub {
    margin: 0 0 0 auto;
    padding: 45px 0 0;
  }

  .Footer-logo {
    width: 211px;
    margin: 0 59px 0 0;
  }

  .Footer-pic {
    width: 457px;
  }

  .Footer-copyright {
    clear: both;
    font-size: 12px;
	text-align:left;
	padding-top:10px;
  }
}

.Fnav a {
  text-decoration: none;
}

.Fnav._main a {
  color: #000;
}

.Fnav._main .Fnav-item:before {
  color: #000;
}

.Fnav._sub a {
  color: #666;
}

.Fnav._sub .Fnav-item:before {
  color: #666;
}

@media screen and (max-width: 767px) {
  .Fnav a {
    display: block;
    line-height: 1;
  }

  .Fnav._main {
    position: relative;
    margin: 5.33333vw 0 0;
    border-top: 1px solid #333;
  }

  .Fnav._main a {
    position: relative;
    width: 100%;
    padding: 2.93333vw 1.6vw 3.2vw;
    font-size: 3.2vw;
  }

  .Fnav._main a:after {
    position: absolute;
    right: 1.6vw;
    top: 50%;
    content: '';
    display: block;
    height: 2.26667vw;
    width: 1.33333vw;
    background: url('/img/fnav_arr.png') 0 0 no-repeat;
    background-size: 1.33333vw 2.26667vw;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
  }

  .Fnav._main .Fnav-item {
    border-bottom: 1px solid #333;
  }

  .Fnav._sub {
    position: absolute;
    bottom: 16vw;
    width: 100%;
  }

  .Fnav._sub a {
    padding: 0 4.26667vw;
    font-size: 2.66667vw;
  }

  .Fnav._sub .Fnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }

  .Fnav._sub .Fnav-item {
    position: relative;
  }

  .Fnav._sub .Fnav-item:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    height: 2.53333vw;
    width: 1px;
    background-color: #cdcdcd;
  }

  .Fnav._sub .Fnav-item:first-child:before {
    display: none;
  }
}

@media print, screen and (min-width: 768px) {
  .Fnav {
    padding: 3px 0 0;
  }

  .Fnav a {
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Fnav a:hover {
    color: #d30000 !important;
  }

  .Fnav._main a {
    font-size: 16px;
    line-height: 1.9;
  }

  .Fnav._main .Fnav-item {
    margin: 0 15px 0 0;
  }

  .Fnav._main .Fnav-item:before {
    top: -1px;
    margin: 0 15px 0 0;
    font-size: 16px;
    line-height: 1;
  }

  .Fnav._sub {
    margin: 0 0 17px;
  }

  .Fnav._sub a {
    font-size: 14px;
    line-height: 2.1;
  }

  .Fnav._sub .Fnav-item {
    margin: 0 20px 0 0;
  }

  .Fnav._sub .Fnav-item:before {
    top: -2px;
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 1;
  }

  .Fnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Fnav-item:before {
    position: relative;
    content: '|';
    display: inline-block;
  }

  .Fnav-item:first-child:before {
    content: '';
    margin: 0 !important;
  }
}

.Main {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .Main {
    margin: 0 0 13.33333vw;
  }

  .Main._page {
    padding: 17.33333vw 0 0;
  }
}

@media print, screen and (min-width: 768px) {
  .Main._page {
    padding: 80px 0 0;
  }
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Enjoy._home > div {
  background: url('/img/bg0.png') 50% 0 repeat;
}

@media screen and (max-width: 767px) {
  .Enjoy._home > div {
    margin: 1.33333vw 0 0;
    padding: 8vw 2.66667vw 4vw;
    background-size: 18vw auto;
  }
}

@media print, screen and (min-width: 768px) {
  .Enjoy._home > div {
    margin: 15px 0 0;
    padding: 51px 0 41px;
  }
}

.Enjoy._home .Enjoy-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Enjoy._home .Enjoy-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.Enjoy._home .Enjoy-tit span + span {
  font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;
}

@media screen and (max-width: 767px) {
  .Enjoy._home .Enjoy-tit {
    font-size: 3.2vw;
  }

  .Enjoy._home .Enjoy-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Enjoy._home .Enjoy-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Enjoy._home .Enjoy-tit {
    font-size: 18px;
  }

  .Enjoy._home .Enjoy-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Enjoy._home .Enjoy-tit span + span {
    font-size: 18px;
  }
}

.Enjoy._home .Enjoy-tit a {
  display: inline-block;
}

.Enjoy._page {
  background-color: #fbfbf9;
  border-top: 1px solid #ededed;
}

@media print, screen and (min-width: 768px) {
  .Enjoy._page {
    padding: 0 0 70px;
  }
}

.Enjoy._page .Enjoy-tit {
  background: url('/img/tit2_bg.png') 0 0 no-repeat;
  line-height: 1;
  text-align: center;
}

.Enjoy._page .Enjoy-tit span {
  display: block;
  font-weight: bold;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Enjoy._page .Enjoy-tit span span {
  display: block;
  font-family: 'Oswald Regular';
}

.Enjoy._page .Enjoy-tit span span + span {
  font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;
}

@media screen and (max-width: 767px) {
  .Enjoy._page .Enjoy-tit span {
    font-size: 3.2vw;
  }

  .Enjoy._page .Enjoy-tit span span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Enjoy._page .Enjoy-tit span span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Enjoy._page .Enjoy-tit span {
    font-size: 18px;
  }

  .Enjoy._page .Enjoy-tit span span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Enjoy._page .Enjoy-tit span span + span {
    font-size: 18px;
  }
}

.Enjoy._page .Enjoy-tit span + span {
  position: relative;
  display: block;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.Enjoy._page .Enjoy-tit span + span:before, .Enjoy._page .Enjoy-tit span + span:after {
  position: absolute;
  content: '';
  display: block;
  background-color: #000;
}

@media screen and (max-width: 767px) {
  .Enjoy._page .Enjoy-tit {
    width: 36.8vw;
    margin: -6.4vw auto 0;
    padding: 14.8vw 0 0;
    background-size: 100% auto;
  }

  .Enjoy._page .Enjoy-tit span {
    font-size: 5.06667vw;
  }

  .Enjoy._page .Enjoy-tit span + span {
    margin: 2.4vw 0 0;
    font-size: 3.2vw;
  }

  .Enjoy._page .Enjoy-tit span + span:before, .Enjoy._page .Enjoy-tit span + span:after {
    top: 50%;
    height: 1px;
    width: 6.66667vw;
  }

  .Enjoy._page .Enjoy-tit span + span:before {
    left: 3.06667vw;
  }

  .Enjoy._page .Enjoy-tit span + span:after {
    right: 3.06667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Enjoy._page .Enjoy-tit {
    width: 276px;
    margin: -48px auto 0;
    padding: 111px 0 0;
  }

  .Enjoy._page .Enjoy-tit span {
    font-size: 26px;
  }

  .Enjoy._page .Enjoy-tit span + span {
    margin: 13px 0 0;
    font-size: 18px;
  }

  .Enjoy._page .Enjoy-tit span + span:before, .Enjoy._page .Enjoy-tit span + span:after {
    top: 9px;
    height: 2px;
    width: 50px;
  }

  .Enjoy._page .Enjoy-tit span + span:before {
    left: 21px;
  }

  .Enjoy._page .Enjoy-tit span + span:after {
    right: 21px;
  }
}

.Enjoy-tit a {
  color: #000;
  text-decoration: none;
}

.Enjoy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Enjoy-item {
  line-height: 0;
}

.Enjoy-item a, .Enjoy-item span {
  display: block;
  color: #000;
  text-decoration: none;
}

.Enjoy-item img {
  border-radius: 0 0 5px 5px;
}

.Enjoy-h {
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
}

.Enjoy-h span {
  display: block;
  font-family: 'Oswald Regular';
  letter-spacing: 0.1em;
}

.mo_list{ display:none;}

@media screen and (max-width: 767px) {
.mo_list{ display:block;}

  .Enjoy-list {
    margin: 6.66667vw 0 0;
    flex-wrap: wrap;

    -ms-flex-wrap: wrap;
  }

  .Enjoy-item {
    width: 50%;
    margin: 0 0 5.33333vw;
  }

  .Enjoy-item a, .Enjoy-item span {
    padding: 0 2.66667vw;
  }

  .Enjoy-box {
    padding: 4vw 3.6vw;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  }

  .Enjoy-h {
    margin: 0 0 2.66667vw;
    font-size: 3.2vw;
  }

  .Enjoy-h span {
    margin: 0 0 2vw;
  }

  .Enjoy-txt {
    font-size: 2.93333vw;
    line-height: 1.6;
  }
}

@media print, screen and (min-width: 768px) {
  .Enjoy {
    min-width: 1240px;
  }

  .Enjoy-tit a {
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Enjoy-tit a:hover {
    color: #d30000 !important;
  }

  .Enjoy._page .Enjoy-tit a span + span:before, .Enjoy._page .Enjoy-tit a span + span:after {
    background-color: #000;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Enjoy._page .Enjoy-tit a:hover span + span:before, .Enjoy._page .Enjoy-tit a:hover span + span:after {
    background-color: #d30000;
  }

  .Enjoy-list {
    margin: 49px 0 0;
    justify-content: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .Enjoy-item {
    overflow: hidden;
    width: 310px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  }

  .Enjoy-item a {
    overflow: hidden;
  }

  .Enjoy-item a img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transform: scale(1);
  }

  .Enjoy-item a:hover img {
    opacity: 0.6;
    transform: scale(1.05);

    -webkit-transform: scale(1.05);
  }

  .Enjoy-item a .Enjoy-h {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Enjoy-item a .Enjoy-h span {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Enjoy-item a:hover .Enjoy-h {
    color: #d30000;
  }

  .Enjoy-item a:hover .Enjoy-h span {
    color: #d30000;
  }

  .Enjoy-item figure {
    overflow: hidden;
  }

  .Enjoy-box {
    padding: 30px 25px 35px;
  }

  .Enjoy-h {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .Enjoy-h span {
    margin: 0 0 15px;
    font-size: 22px;
  }

  .Enjoy-txt {
    font-size: 14px;
    line-height: 1.7;
  }
}

.Share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Share._header {
  display: block;
}

.Share._header .Share-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Share-logo, .Share-item {
  line-height: 0;
}

.Share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Share-item a {
  position: relative;
  display: block;
  background-color: #333;
  border-radius: 50%;
}
.Share-item._ins a {
  overflow: hidden;
  background-color: #f13f79;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.Share-item._ins a::after {
  content: "";
  position: absolute;
  top: calc(100% * 0.46);
  left: calc(100% * -0.36);
  width: calc(100% * 1.2);
  height: calc(100% * 1.2);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
.Share-item._fb a {
  background-color: #3B579D;
}
.Share-item._yt a {
  background-color: #ff0000;
}
.Share-item._tw a {
  background-color: #1d9bf0;
}
.Share-item._tt a {
  background-color: #000;
}
.Share-item._x a {
  background-color: #000;
}

.Share-item a img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  height: auto;
  transform: translate(-50%, -50%);

  -webkit-transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .Share {
    background-color: #deded9;
  }

  .Share._header {
    position: relative;
    display: none;
    height: 13.33333vw;
  }

  .Share._header .Share-inner {
    position: absolute;
    left: 50%;
    padding: 3.06667vw 0;
    transform: translateX(-50%);

    -webkit-transform: translateX(-50%);
  }

  .Share._footer {
    margin: 0 5.33333vw 10.66667vw;
    padding: 3.06667vw 0 3.06667vw 14.66667vw;
	display:none;
  }

  .Share-logo {
    position: relative;
    top: 0.93333vw;
    width: 21.2vw;
    margin: 0 4.53333vw 0 0;
  }

  .Share-item {
    margin: 0 0.66667vw;
  }

  .Share-item._ins img {
    width: 3.86667vw;
    position: relative;
    z-index: 2;
  }

  .Share-item._tw img {
    width: 4.26667vw;
  }

  .Share-item._fb img {
    width: 2.26667vw;
  }

  .Share-item._yt img {
    width: 3.86667vw;
  }

  .Share-item._x img {
    width: 3.374933vw;
  }

  .Share-item a {
    height: 7.2vw;
    width: 7.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Share._header {
    margin: 24px 0 0 25px;
  }

  .Share._footer {
    float: right;
  }

  .Share-logo {
    position: relative;
    top: 4px;
    width: 89px;
    margin: 0 12px 0 0;
  }

  .Share-item {
    margin: 0 0 0 5px;
  }

  .Share-item._ins img {
    width: 16px;
    position: relative;
    z-index: 2;
  }

  .Share-item._tw img {
    width: 18px;
  }

  .Share-item._fb img {
    width: 9px;
  }

  .Share-item._yt img {
    width: 16px;
  }

  .Share-item._x img {
    width: 15px;
  }

  .Share-item a {
    opacity: 1;
    height: 32px;
    width: 32px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Share-item a:hover {
    opacity: 0.7;
  }
}

.Pagetop {
  position: relative;
  z-index: 99999;
}

.Pagetop.relative {
  position: relative;
}

.Pagetop.fixed {
  position: fixed;
}

.Pagetop-btn {
  margin: 0;
  padding: 0;
  background-color: #333;
  border-radius: 50%;
  outline: none;
  line-height: 0;
}

.Pagetop-btn img {
  height: auto;
}

@media screen and (max-width: 767px) {
  .Pagetop {
    bottom: 5.33333vw;
    width: 100%;
  }

  .Pagetop-btn {
    height: 6.66667vw;
    width: 6.66667vw;
  }

  .Pagetop-btn img {
    width: 2.26667vw;
  }

  .Pagetop.relative .Pagetop-btn {
    position: absolute;
    right: 5.33333vw;
    top: 0;
  }

  .Pagetop.fixed {
    right: 5.33333vw;
    height: 6.66667vw;
    width: 6.66667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Pagetop {
    bottom: 50px;
    width: 100%;
  }

  .Pagetop-btn {
    opacity: 1;
    height: 50px;
    width: 50px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Pagetop-btn:hover {
    opacity: 0.7;
  }

  .Pagetop-btn img {
    width: 17px;
  }

  .Pagetop.relative .Pagetop-btn {
    position: absolute;
    right: 50px;
    top: 0;
  }

  .Pagetop.fixed {
    right: 50px;
    height: 50px;
    width: 50px;
  }
}

.Head {
  position: relative;
  width: 100%;
}

.Head-inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.Head-tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  line-height: 1;
}

.Head-tit span {
  position: relative;
  display: block;
  height: 100%;
}

.Head-tit span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  background-color: #d30000;
}

.Head-tit span + span:before {
  background-color: #f1f1ec;
}

@media screen and (max-width: 767px) {
  .Head {
    border-bottom: 1px solid #e2e2e2;
  }

  .Head-inner {
    padding: 4.66667vw 5.33333vw 4vw;
  }

  .Head-tit {
    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .Head-tit span {
    min-width: 23.33333vw;
    padding: 0.4vw 4vw 0 4.53333vw;
    font-size: 4.8vw;
  }

  .Head-tit span:before {
    height: 5.33333vw;
    width: 0.53333vw;
  }

  .Head-tit span + span {
    width: auto;
    padding: 0.53333vw 0 0 4.26667vw;
    font-size: 4.26667vw;
    line-height: 1.3;
  }

  .Head-tit span + span:before {
    top: 50%;
    height: 5.33333vw;
    width: 0.26667vw;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
  }
}

@media print, screen and (min-width: 768px) {
  .Head {
    height: 90px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  }

  .Head-inner {
    width: 1240px;
    padding: 25px 0 0;
  }

  .Head-tit {
    height: 40px;
  }

  .Head-tit span {
    padding: 10px 40px 0 44px;
    font-size: 20px;
  }

  .Head-tit span:before {
    height: 40px;
    width: 4px;
  }

  .Head-tit span + span {
    padding: 12px 0 0 40px;
    font-size: 16px;
  }

  .Head-tit span + span:before {
    height: 40px;
    width: 2px;
  }
}

.Breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Breadcrumb-item {
  line-height: 1;
}

.Breadcrumb-item + li {
  position: relative;
}

.Breadcrumb-item + li:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  display: block;
  background: url('/img/arr1.png') 0 0 no-repeat;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

.Breadcrumb a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Breadcrumb {
    display: none;
  }
}

@media print, screen and (min-width: 768px) {
  .Breadcrumb {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
  }

  .Breadcrumb-item {
    margin: 0 20px 0 0;
  }

  .Breadcrumb-item + li {
    padding: 0 0 0 26px;
  }

  .Breadcrumb-item + li:before {
    height: 10px;
    width: 6px;
  }

  .Breadcrumb a {
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Breadcrumb a:hover {
    color: #d30000 !important;
  }

  .Breadcrumb a, .Breadcrumb span {
    font-size: 14px;
  }
}
