@charset "UTF-8";
/*----------------------------------
Variables Style
----------------------------------*/
/*----------------------------------
Function Style
----------------------------------*/
/*----------------------------------
Extend Style
----------------------------------*/
.cl, .p-historyInner {
  display: inline-block;
  min-height: 1%;
  display: block;
  *zoom: 1;
}

.cl:after, .p-historyInner:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

* html .cl, * html .p-historyInner {
  height: 1%;
}

/*----------------------------------
Mixins Style
----------------------------------*/
/*----------------------------------
Header Style
----------------------------------*/
/*----------------------------------
Footer Style
----------------------------------*/
/*----------------------------------
Content Style
----------------------------------*/
.l-wrap {
  width: 1240px;
  margin: 0 auto;
  color: #333;
}

.l-wrap img {
  width: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .l-wrap {
    width: 100%;
    padding: 0 20px;
  }
}

.l-fnt_ow {
  font-family: 'Oswald Regular';
}

.l-fnt_min {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 游ゴシック, 'Yu Gothic', YuGothic , 'Oswald Regular';
}

.js-scll {
  overflow: hidden;
}

/*----------------------------------
Main Style
----------------------------------*/
/*----------------------------------
Navigation Style
----------------------------------*/
.l-companyNavi {
  width: 260px;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .l-companyNavi {
    width: 100%;
    margin-top: 0;
  }
}

.l-companyNavi p {
  background: #f1f1ec;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1;
}

.l-companyNavi p a {
  color: #333;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
  display: block;
  padding: 28px 0 20px 30px;
}

.l-companyNavi p a:hover {
  color: #d30000;
}

@media screen and (max-width: 767px) {
  .l-companyNavi p a {
    padding: 13px 0 13px 13px;
  }
}

@media screen and (max-width: 767px) {
  .l-companyNavi p {
    font-size: 12px;
  }
}

.l-companyNavi ul {
  border: 1px solid #f1f1ec;
  padding: 15px 30px 13px;
}

@media screen and (max-width: 767px) {
  .l-companyNavi ul {
    border: none;
    padding: 0;
  }
}

.l-companyNavi li:last-child a {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .l-companyNavi li:last-child a {
    border-bottom: 1px solid #f1f1ec;
  }
}

.l-companyNavi li a {
  border-bottom: 1px solid #f1f1ec;
  font-size: 14px;
  display: block;
  color: #333;
  text-decoration: none;
  letter-spacing: .05em;
  padding: 7px 0;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width: 767px) {
  .l-companyNavi li a {
    font-size: 12px;
    position: relative;
  }
  .l-companyNavi li a:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 6px;
    height: 10px;
    background: url(/img/arr3.png) no-repeat;
    background-size: 6px 10px;
    margin-top: -5px;
  }
  .l-companyNavi li a span {
    padding-left: 10px;
  }
}

.l-companyNavi li a:hover {
  color: #d30000;
}

/*----------------------------------
Side Style
----------------------------------*/
/*----------------------------------
Project Style
----------------------------------*/
.p-company {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 70px 0 50px;
}

@media screen and (max-width: 767px) {
  .p-company {
    margin: 20px 0 20%;
  }
}

@media screen and (max-width: 767px) {
  .p-company {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.p-companyCnt {
  width: 950px;
}

@media screen and (max-width: 767px) {
  .p-companyCnt {
    width: 100%;
    margin-bottom: 20px;
  }
}

.p-companyCnt_desc {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .p-companyCnt_desc {
    margin-bottom: 20px;
  }
}

.p-companyCnt_desc:last-child {
  margin-bottom: 0;
}

.p-companyCnt_desc h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .p-companyCnt_desc h2 {
    margin-bottom: 20px;
  }
}

.p-companyCnt_desc td a {
  color: #036;
  text-decoration: none;
}

.p-companyCnt_desc td a:hover {
  color: #369;
}

.p-companyCnt_message p {
  letter-spacing: .05em;
}

.p-companyCnt_message p:first-child {
  text-align: center;
}

.p-companyCnt_message p span {
  margin-right: 9px;
}

.p-companyCnt_message p span img {
  position: relative;
  top: 5px;
}

.p-txt_multiple p {
  margin-bottom: 20px;
  letter-spacing: .05em;
  font-feature-settings: "palt";
}

@media screen and (max-width: 767px) {
  .p-txt_multiple p {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.p-txt_multiple p:last-child {
  margin-bottom: 0;
}

.p-txt_multiple p strong {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .p-txt_multiple p strong {
    font-size: 15px;
  }
}

.p-list:last-child > div:last-child {
  margin-bottom: 0;
}

.p-underCnt {
  margin: 70px 0 50px;
}

@media screen and (max-width: 767px) {
  .p-underCnt {
    margin: 20px 0 20%;
  }
}

.p-underCnt_service_top {
  background: #fbfbf9;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .p-underCnt_service_bottom h2 {
    font-size: 15px;
    padding: 30px 0 25px;
  }
}

.p-underCnt h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .p-underCnt h2 {
    margin-bottom: 20px;
  }
}

.p-underCnt h2 + p {
  margin: -15px 0 10px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .p-underCnt h2 + p {
    font-size: 12px;
    padding: 0;
  }
}

.p-service_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .p-service_list {
    margin-top: 25px;
    padding-bottom: 40px;
  }
}

.p-contact_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 70px 0;
}

@media screen and (max-width: 767px) {
  .p-contact_list {
    margin: 25px 0 20%;
  }
}

.p-toggle_block {
  margin-bottom: 20px;
}

.p-toggle_block:last-child {
  margin-bottom: 0;
}

.p-siteMap_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .p-siteMap_list {
    display: block;
    column-count: 2;
  }
}

.p-siteMap_block {
  width: calc(100% / 3 - 35px);
}

@media screen and (max-width: 767px) {
  .p-siteMap_block {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .p-siteMap_block:nth-child(1) {
    margin-bottom: 20px;
  }
}

.p-siteMap_block:nth-child(2) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.p-siteMap_block:nth-child(2) > div:nth-child(1) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .p-siteMap_block:nth-child(2) {
    display: block;
    margin-bottom: 20px;
  }
  .p-siteMap_block:nth-child(2) > div:nth-child(1) {
    margin-bottom: 20px;
  }
  .p-siteMap_block:nth-child(2) > div:nth-child(2) {
    margin-bottom: 20px;
  }
}

.p-siteMap_block p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .1em;
  border: 1px solid #ededed;
  padding: 20px 0 20px 30px;
  margin-bottom: 30px;
}

.p-siteMap_block p a {
  color: #000;
  text-decoration: none;
}

.p-siteMap_block p a:hover {
  color: #d30000;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .p-siteMap_block p {
    font-size: 12px;
    padding: 14px 0 14px 15px;
    margin-bottom: 15px;
  }
}

.p-siteMap_block ul {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .p-siteMap_block ul {
    padding-left: 15px;
  }
}

.p-siteMap_block li {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .p-siteMap_block li {
    font-size: 12px;
  }
}

.p-siteMap_block li:last-child {
  margin-bottom: 0;
}

.p-siteMap_block li a {
  color: #1a1a1a;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-siteMap_block li a {
    display: block;
    padding-right: 15px;
  }
  .p-siteMap_block li a:after {
    content: " ";
    background: url(/img/arr3.png) no-repeat;
    position: absolute;
    top: 0;
    right: 10px;
    width: 5px;
    height: 10px;
    background-size: 5px auto;
    margin-top: 5px;
  }
}

.p-siteMap_block li a:hover {
  color: #d30000;
  text-decoration: underline;
}

.p-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 650px;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  padding: 40px 15px;
}

@media screen and (max-width: 767px) {
  .p-modal {
    width: calc(100% - 20px);
  }
}

.p-modal img {
  width: auto;
  max-width: 630px;
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .p-modal img {
    max-width: 100%;
  }
}

.p-modal02 {
  width: 630px;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .p-modal02 {
    width: 100%;
  }
}

.p-modal02 dl {
  letter-spacing: .1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .p-modal02 dl {
    margin-bottom: 12px;
  }
}

.p-modal02 dt {
  font-size: 19px;
  color: #d30000;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .p-modal02 dt {
    font-size: 12px;
  }
}

.p-modal02 dd {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .p-modal02 dd {
    font-size: 13px;
  }
}

.p-modal02 p {
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .p-modal02 p {
    font-size: 10px;
  }
}

.p-modal02 p:first-of-type {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .p-modal02 p:first-of-type {
    margin-bottom: 20px;
  }
}

.p-modal02 p + p {
  width: 230px;
  font-size: 14px;
}

#alpha {
  display: none;
  position: fixed;
  background: #000000;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.p-history {
  padding-top: 60px;
}

.p-history a {
  color: #000;
  text-decoration: none;
}

.p-historyWrap {
  background: #fbfbf9;
  border-top: 1px solid #e5e5e5;
  padding-top: 79px;
}

@media screen and (max-width: 767px) {
  .p-historyWrap {
    padding-top: 25px;
    padding: 25px 0 100px;
  }
}

.p-historyUnder {
  position: relative;
  padding-bottom: 190px;
}

@media screen and (max-width: 767px) {
  .p-historyUnder {
    padding-bottom: 0;
  }
}

.p-historyUnder:before {
  content: " ";
  width: 3px;
  height: 100%;
  background: #d30000;
  position: absolute;
  top: 32px;
  right: 25px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .p-historyUnder:before {
    height: calc(100% - 100px);
    left: 50%;
    right: inherit;
    top: 0;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .p-historyUnder_cnt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

.p-historyInner {
  position: relative;
}

.p-historyInner:last-child .p-historyInner_block {
  margin-bottom: 0;
}

.p-historyInner_cnt {
  padding: 0 25px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_cnt {
    padding: 0 0 0 20px;
  }
}

.p-historyInner_cnt_bg {
  background: #f5f5f2;
  margin-right: -40px;
  padding: 25px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_cnt_bg {
    margin-right: 0;
  }
}

.p-historyInner_block {
  padding: 0 40px;
  margin-bottom: 50px;
  width: 525px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_block {
    padding: 0;
    margin-bottom: 25px;
    width: 100%;
  }
}

.p-historyInner_block p:first-child {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .1em;
  position: relative;
  padding-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block p:first-child {
    font-size: 16px;
    padding-bottom: 14px;
  }
}

.p-historyInner_block p:first-child:before {
  content: " ";
  width: 100%;
  height: 1px;
  background: #d30000;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block p:first-child:before {
    width: calc( 100% + 134px);
  }
}

.p-historyInner_block p:first-child span {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block p:first-child span {
    font-size: 22px;
  }
}

.p-historyInner_block figure {
  margin-bottom: 20px;
  display: none;
}

@media screen and (max-width: 767px) {
  .p-historyInner_block figure {
    padding-right: 40px;
  }
}

.p-historyInner_block ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  line-height: 0;
  padding-bottom: 15px;
  display: none;
}

.p-historyInner_block ul li {
  width: calc(100% / 2 - 6px);
}

.p-historyInner_block dl {
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  padding: 12px 12px 0 12px;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block dl {
    padding: 25px 25px 0 25px;
    font-size: 13px;
    line-height: 1.9;
  }
}

.p-historyInner_block dt {
  min-width: 30px;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block dt {
    min-width: 40px;
    font-weight: bold;
    letter-spacing: .1em;
  }
}

.p-historyInner_block dd {
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .p-historyInner_block dd {
    padding-right: 0;
    letter-spacing: .1em;
  }
}

.p-historyInner_block dd span {
  margin-left: -.5em;
}

.p-historyInner_desc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .p-historyInner_desc {
    display: block;
  }
}

.p-historyInner_desc dl {
  padding: 25px 0 0 25px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_desc dl {
    padding: 12px 12px 0 12px;
  }
}

.p-historyInner_desc p {
  font-size: 12px;
  width: 98px;
  letter-spacing: .08em;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_desc p {
    font-size: 10px;
    width: 87px;
    margin: 5px 40px 0 auto;
  }
}

.p-historyInner_desc p a {
  padding: 6px 0;
}

@media screen and (max-width: 767px) {
  .p-historyInner_desc p a {
    padding: 0;
  }
}

.p-historyInner_desc_bg {
  background: #f5f5f2;
}

.p-historyInner_desc_bg:last-child {
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .p-historyInner_desc_bg:last-child {
    padding-bottom: 12px;
  }
}

.p-point {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  background: #fff;
  border: 1px solid #d30000;
  color: #d30000;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  z-index: 2;
  line-height: 110px;
  text-align: center;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .p-point {
    width: 55px;
    height: 55px;
    left: inherit;
    right: -28px;
    line-height: 55px;
    font-size: 12px;
  }
}

.p-point01 {
  top: 135px;
}

@media screen and (max-width: 767px) {
  .p-point01 {
    top: 15px;
  }
}

.p-point02 {
  top: 700px;
}

@media screen and (max-width: 767px) {
  .p-point02 {
    top: 230px;
  }
}

.p-point03 {
  bottom: 213px;
}

@media screen and (max-width: 767px) {
  .p-point03 {
    bottom: 22px;
  }
}

.p-point04 {
  top: -23px;
}

@media screen and (max-width: 767px) {
  .p-point04 {
    top: -10px;
    right: -53px;
  }
}

.p-point05 {
  bottom: 75px;
}

@media screen and (max-width: 767px) {
  .p-point05 {
    bottom: -70px;
  }
}

.p-historyCnt {
  float: left;
}

.p-historyCnt .p-historyInner_cnt_bg {
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .p-historyCnt .p-historyInner_cnt_bg {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .p-historyCnt {
    float: none;
  }
}

.p-productCnt {
  float: right;
}

@media screen and (max-width: 767px) {
  .p-productCnt {
    float: none;
  }
}

.p-productCnt p:before {
  right: 0;
}

.p-changeElm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.p-changeElm_btn {
  background: #f7f7f4;
  border: solid #e5e5e5;
  border-width: 1px 1px 0 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1em;
  width: 33.3333%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .p-changeElm_btn {
    font-size: 10px;
  }
}

.p-changeElm_btn:first-child {
  border-left: 1px solid #e5e5e5;
}

.p-changeElm_btn a {
  display: block;
  padding: 18px 0 15px;
}

@media screen and (max-width: 767px) {
  .p-changeElm_btn a {
    padding: 10px 0;
  }
}

.p-changeElm_btn.is-active {
  background: #fbfbf9;
  position: relative;
}

.p-changeElm_btn.is-active:after {
  content: " ";
  width: 100%;
  height: 1px;
  background: #fbfbf9;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.p-changeElm_cnt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 40px 55px;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt {
    padding: 0;
    border: 1px solid #d30000;
  }
}

.p-changeElm_cnt li {
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 485px;
  text-align: center;
  letter-spacing: .1em;
  border: 1px solid #d30000;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li {
    background: #fbfbf9;
    font-size: 10px;
    width: 50%;
    border: none;
  }
}

.p-changeElm_cnt li a {
  color: #d30000;
  display: block;
  padding: 15px 0;
  cursor: default;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li a {
    color: #d30000;
    padding: 7px 0;
  }
}

.p-changeElm_cnt li a span {
  padding-left: 45px;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li a span {
    padding-left: 20px;
  }
}

.p-changeElm_cnt li:nth-child(1) a span {
  background: url(/images/company/history/icon01--off.png) no-repeat 0 50%;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li:nth-child(1) a span {
    background: url(/images/company/history/icon01--off.png) no-repeat 0 50%;
    background-size: 13px auto;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li:nth-child(1).is-active a span {
    background: url(/images/company/history/icon01--on.png) no-repeat 0 50%;
    background-size: 13px auto;
  }
}

.p-changeElm_cnt li:nth-child(2) a span {
  background: url(/images/company/history/icon02--off.png) no-repeat 0 50%;
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li:nth-child(2) a span {
    background: url(/images/company/history/icon02--off.png) no-repeat 0 50%;
    background-size: 13px auto;
  }
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li:nth-child(2).is-active a span {
    background: url(/images/company/history/icon02--on.png) no-repeat 0 50%;
    background-size: 13px auto;
  }
}

@media screen and (max-width: 767px) {
  .p-changeElm_cnt li.is-active {
    background: #d30000;
  }
  .p-changeElm_cnt li.is-active a {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .p-changeElm_panel {
    padding: 22px 25px 0 0;
  }
}

/*----------------------------------
Utility Style
----------------------------------*/
.u-mb0 {
  margin-bottom: 0;
}

/*----------------------------------
Button Style
----------------------------------*/
.c-btn {
  display: table;
  text-align: center;
  width: 330px;
}

@media screen and (max-width: 767px) {
  .c-btn {
    width: 100%;
  }
}

.c-btn a {
  background: #d30000;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  border-radius: 22px;
  padding: 10px 0;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-btn a {
    font-size: 12px;
    padding: 5px 0;
  }
}

.c-btn a[target="_blank"] {
  position: relative;
}

.c-btn a[target="_blank"]:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 25px;
  background: url(/images/common/blank.png) no-repeat;
  width: 14px;
  height: 14px;
  margin-top: -7px;
}

@media screen and (max-width: 767px) {
  .c-btn a[target="_blank"]:after {
    width: 10px;
    height: 10px;
    background-size: 10px auto;
  }
}

.c-btn_center {
  margin: 0 auto;
}

.c-btn_close a span {
  position: relative;
  padding-right: 16px;
  color: #fff;
}

.c-btn_close a span:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -15px;
  background: url(/images/common/close.png) no-repeat;
  width: 15px;
  height: 15px;
  margin-top: -8px;
}

@media screen and (max-width: 767px) {
  .c-btn_close a span:after {
    width: 8px;
    height: 8px;
    background-size: 8px auto;
    margin-top: -4px;
  }
}

@media screen and (max-width: 767px) {
  .c-btn_detail {
    width: 90px;
  }
  .c-btn_detail a {
    font-size: 10px;
    padding: 4px 0;
  }
}

/*----------------------------------
Dialog Style
----------------------------------*/
/*----------------------------------
Grid Style
----------------------------------*/
/*----------------------------------
Heading Style
----------------------------------*/
.c-hdg {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-hdg {
    font-size: 15px;
  }
}

.c-hdgBalloon {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  border: 1px solid #ededed;
  text-align: center;
  padding: 50px 0;
  position: relative;
  /*@media screen and (max-width: 767px) {
        font-size: 12px;
        padding: 16px 0;
      }*/
}

.c-hdgBalloon:before {
  content: " ";
  position: absolute;
  bottom: -14px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-style: solid;
  border-width: 14px 19px 0 19px;
  border-color: #fff transparent transparent transparent;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon:before {
    bottom: -7px;
    border-width: 7px 12px 0 12px;
  }
}

.c-hdgBalloon:after {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-style: solid;
  border-width: 14px 19px 0 19px;
  border-color: #ededed transparent transparent transparent;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon:after {
    bottom: -8px;
    border-width: 7px 12px 0 12px;
  }
}

.c-hdgBalloon_bg {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .1em;
  border: 1px solid #ededed;
  padding: 25px 20px 25px 50px;
  position: relative;
}

.c-hdgBalloon_bg:before {
  content: " ";
  position: absolute;
  bottom: -14px;
  left: 50px;
  border-style: solid;
  border-width: 14px 19px 0 19px;
  border-color: #fff transparent transparent transparent;
  z-index: 2;
}

.c-hdgBalloon_bg:after {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: 50px;
  border-style: solid;
  border-width: 14px 19px 0 19px;
  border-color: #ededed transparent transparent transparent;
  z-index: 1;
}

.c-hdgBalloon_toggle {
  font-size: 18px;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle {
    font-size: 12px;
  }
}

.c-hdgBalloon_toggle:before, .c-hdgBalloon_toggle:after {
  display: none;
}

.c-hdgBalloon_toggle a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 20px 0 20px 50px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle a {
    padding: 15px;
  }
}

.c-hdgBalloon_toggle a:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(/images/service/faq_jinro/arw_open.png) no-repeat;
  width: 20px;
  height: 12px;
  margin-top: -7px;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle a:after {
    width: 15px;
    height: 10px;
    background-size: 10px auto;
    right: 10px;
    margin-top: -4px;
  }
}

.c-hdgBalloon_toggle span {
  color: #d30000;
}

.c-hdgBalloon_toggle.is-open:before {
  display: block;
  left: 70px;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle.is-open:before {
    left: 30px;
  }
}

.c-hdgBalloon_toggle.is-open:after {
  display: block;
  left: 70px;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle.is-open:after {
    left: 30px;
  }
}

.c-hdgBalloon_toggle.is-open a:after {
  background: url(/images/service/faq_jinro/arw_close.png) no-repeat;
}

@media screen and (max-width: 767px) {
  .c-hdgBalloon_toggle.is-open a:after {
    width: 15px;
    height: 10px;
    background-size: 10px auto;
    right: 10px;
    margin-top: -4px;
  }
}

.c-hdg_min {
  font-size: 26px;
  letter-spacing: .1em;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .c-hdg_min {
    font-size: 13px;
    margin-bottom: 18px;
  }
}

/*----------------------------------
Box Style
----------------------------------*/
.c-txtBox {
  border: 1px solid #ededed;
  font-size: 16px;
  padding: 40px 20px 40px 50px;
}

@media screen and (max-width: 767px) {
  .c-txtBox {
    padding: 20px 15px;
  }
}

.c-txtBox a {
  text-decoration: none;
}

.c-txtBox_bottom {
  display: none;
}

.c-txtBox_bottom p {
  text-indent: -2em;
  padding-left: 2em;
}

@media screen and (max-width: 767px) {
  .c-txtBox_bottom p {
    font-size: 12px;
  }
}

.c-txtBox_bottom span {
  font-weight: bold;
  padding-right: 7px;
}

.c-txtBox_bottom dl {
  padding-left: 2em;
  margin-top: 15px;
}

.c-txtBox_bottom.is-open {
  display: block;
  padding: 30px 20px 30px 50px;
}

.c-list_box {
  border: 1px solid #ededed;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .c-list_box {
    margin-bottom: 20px;
  }
}

.c-list_box p span {
  display: block;
  background: #f1f1ec;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 25px 0 20px 30px;
  border-bottom: 1px solid #ededed;
}

@media screen and (max-width: 767px) {
  .c-list_box p span {
    font-size: 12px;
    padding: 12px 0 10px 15px;
  }
}

.c-list_box p:last-child {
  padding: 25px 0 30px 30px;
}

@media screen and (max-width: 767px) {
  .c-list_box p:last-child {
    font-size: 12px;
    padding: 20px 17px 15px 15px;
  }
}

.c-list_box h3 {
  background: #f1f1ec;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 25px 0 20px 30px;
  border-bottom: 1px solid #ededed;
}

@media screen and (max-width: 767px) {
  .c-list_box h3 {
    font-size: 12px;
    padding: 12px 0 10px 15px;
  }
}

.c-list_box ul {
  padding: 25px 0 30px 30px;
}

@media screen and (max-width: 767px) {
  .c-list_box ul {
    padding: 20px 17px 15px 15px;
  }
}

.c-list_box li {
  position: relative;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .c-list_box li {
    font-size: 12px;
  }
}

.c-list_box li:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.c-companyCnt_txt {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-companyCnt_txt {
    font-size: 12px;
  }
}

.c-companyCnt_ow > p {
  font-size: 26px;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .c-companyCnt_ow > p {
    font-size: 13px;
  }
}

.c-underCnt_desc {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc {
    margin-bottom: 20px;
  }
}

.c-underCnt_desc_title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  border: 1px solid #ededed;
  padding: 20px 0 20px 30px;
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc_title {
    font-size: 12px;
    padding: 14px 0 14px 15px;
  }
}

.c-underCnt_desc_body {
  padding: 30px 30px 0 30px;
  letter-spacing: .05em;
  font-feature-settings: "palt";
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc_body {
    font-size: 12px;
    padding: 20px 15px 0 15px;
  }
}

.c-underCnt_desc_body li span {
  color: #d30000;
  position: relative;
  padding-left: 16px;
  display: block;
}

.c-underCnt_desc_body li span a {
  color: #d30000;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc_body li span {
    font-size: 12px;
  }
}

.c-underCnt_desc_body li span:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.c-underCnt_desc_body_list li {
  position: relative;
  padding-left: 16px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc_body_list li {
    padding-left: 12px;
  }
}

.c-underCnt_desc_body_list li:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.c-underCnt_desc_body_list li:last-child {
  margin-bottom: 0;
}

.c-underCnt_desc_body_multiple {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .c-underCnt_desc_body_multiple {
    margin-bottom: 8px;
  }
}

.c-hdg_txt {
  text-align: center;
}

.c-hdg_txt h2 {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .c-hdg_txt h2 {
    margin-bottom: 15px;
  }
}

.c-hdg_txt p {
  font-size: 14px;
  max-width: 495px;
  margin: 0 auto;
  font-feature-settings: "palt";
}

@media screen and (max-width: 767px) {
  .c-hdg_txt p {
    max-width: 100%;
  }
}

.c-service_list_block {
  background: #fff;
  border: 1px solid #ededed;
  padding: 35px 0 35px 80px;
  width: 610px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

@media screen and (max-width: 767px) {
  .c-service_list_block {
    padding: 20px 20px 20px 30px;
    margin-bottom: 20px;
  }
  .c-service_list_block p {
    width: 68px;
    margin-right: 25px;
  }
  .c-service_list_block p img {
    height: 119px;
  }
}

.c-service_list_block a {
  color: #000;
  text-decoration: none;
  transition: all .4s;
}

.c-service_list_block a:hover {
  opacity: .7;
}

.c-service_list_block dl {
  font-feature-settings: "palt";
  margin: 0 15px 0 60px;
}

@media screen and (max-width: 767px) {
  .c-service_list_block dl {
    margin: 0;
  }
}

.c-service_list_block dt {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .c-service_list_block dt {
    font-size: 13px;
  }
}

.c-service_list_block dt span {
  position: relative;
  padding-right: 24px;
}

.c-service_list_block dt span:after {
  content: " ";
  width: 10px;
  height: 17px;
  background: url(/img/fnav_arr.png) no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .c-service_list_block dt span:after {
    background-size: 50% auto;
    margin-top: 4px;
  }
}

.c-service_list_block dd {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .c-service_list_block dd {
    font-size: 10px;
  }
}

.c-service_list_block:last-child {
  margin-bottom: 0;
}

.c-service_list_block:last-child p {
  margin-left: -25px;
}

@media screen and (max-width: 767px) {
  .c-service_list_block:last-child p {
    margin-left: 0;
  }
  .c-service_list_block:last-child p img {
    height: 80px;
  }
}

.c-contact_list_block {
  width: 610px;
  box-sizing: border-box;
  border: 1px solid #ededed;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .c-contact_list_block:last-child {
    margin-bottom: 0;
  }
}

.c-contact_list_block:last-child > p {
  font-size: 16px;
  padding: 40px 0 0;
  height: 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block:last-child > p {
    font-size: 10px;
    padding: 20px 0 15px;
    height: auto;
  }
  .c-contact_list_block:last-child > p img {
    height: 20px;
  }
}

.c-contact_list_block:last-child > p span {
  padding-left: 0;
}

.c-contact_list_block:last-child > p span:before {
  display: none;
}

.c-contact_list_block > p {
  font-size: 24px;
  padding: 20px 0 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.3333;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > p {
    font-size: 14px;
    padding: 15px 0;
  }
}

.c-contact_list_block > p span {
  position: relative;
  display: block;
  /*padding-left: 110px;*/
  padding-left: 70px;
  font-feature-settings: "palt";
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > p span {
    padding-left: 10px;
    display: inline-block;
  }
}

.c-contact_list_block > p span:before {
  content: " ";
  position: absolute;
  top: 50%;
  /*left: 120px;*/
  left: 60px;
  width: 55px;
  height: 55px;
  background: url(/images/service/top/icon_01.png) no-repeat;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > p span:before {
    background-size: 25px auto;
    left: -15px;
    margin-top: 0;
    width: 25px;
    height: 25px;
  }
}

.c-contact_list_block p em {
  font-size: 40px;
  letter-spacing: .1em;
  position: relative;
  padding-left: 70px;
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block p em {
    font-size: 27px;
    padding-left: 30px;
  }
}

.c-contact_list_block p em:before {
  content: " ";
  background: url(/images/service/top/ico_freedial.svg) center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -17px;
  width: 60px;
  height: 34px;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block p em:before {
    width: 25px;
    height: 15px;
    margin-top: -7px;
  }
}

.c-contact_list_block > div {
  padding: 30px 30px 30px 40px;
  border: none;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > div {
    padding: 20px 20px 15px 20px;
  }
}

.c-contact_list_block > div p {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > div p {
    font-size: 11px;
  }
}

.c-contact_list_block > div p span {
  display: block;
  text-indent: -.5em;
}

.c-contact_list_block > div p small {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
  display: block;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > div p small {
    font-size: 11px;
  }
}

.c-contact_list_block > div p:nth-child(2) {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block > div p:nth-child(2) {
    margin-bottom: 10px;
  }
}

.c-contact_list_block > div p:nth-child(3) {
  margin-bottom: 10px;
}

.c-contact_list_block_txt {
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block_txt {
    height: auto;
  }
}

.c-contact_list_block_txt p:first-child {
  margin: 0 auto 30px;
}

@media screen and (max-width: 767px) {
  .c-contact_list_block_txt p:first-child {
    margin: 0 auto 15px;
  }
}

/*----------------------------------
Table Style
----------------------------------*/
.c-tableTop_th table {
  border: 1px solid #ededed;
  width: 100%;
}

.c-tableTop_th tr .add {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .c-tableTop_th tr .add {
    padding: 5px;
    min-width: 33px;
  }
}

.c-tableTop_th th {
  background: #f9f9f7;
  font-weight: bold;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 20px 0 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-tableTop_th th {
    font-size: 10px;
    padding: 10px;
  }
}

.c-tableTop_th table tr:nth-child(even) {
background: #FFFFFF;
}

.c-tableTop_th table tr:nth-child(odd) {
background: #f9f9f7;
}

.c-tableTop_th table tr td.on{
background: #f9f9f7;
}

.c-tableTop_th table tr td.off{
background: #FFFFFF;
}


.c-tableTop_th td {
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 0 15px 0 30px;
}

@media screen and (max-width: 767px) {
  .c-tableTop_th td {
    font-size: 10px;
    padding: 5px;
  }
}

.c-tableOutline table {
  border: 1px solid #ededed;
  width: 100%;
}


.c-tableOutline table tr:nth-child(even) {
background: #FFFFFF;
}

.c-tableOutline table tr:nth-child(odd) {
background: #f9f9f7;
}


.c-tableOutline th {
  /* background: #f9f9f7;*/
  font-weight: bold;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 15px 20px 15px 50px;
}

@media screen and (max-width: 767px) {
  .c-tableOutline th {
    font-size: 10px;
    padding: 10px;
    min-width: 75px;
    box-sizing: border-box;
  }
}

.c-tableOutline td {
  border-bottom: 1px solid #ededed;
  padding-left: 30px;
}

.c-tableOutline td span {
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .c-tableOutline td {
    font-size: 10px;
    padding: 5px 10px;
  }
  .c-tableOutline td span {
    display: block;
    padding-left: 0;
  }
}

.c-tableOutline_place tr th {
  width: 290px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .c-tableOutline_place tr th {
    width: 135px;
    padding: 10px;
  }
}

.c-tableOutline_place tr td {
  padding: 10px 0 10px 30px;
}

@media screen and (max-width: 767px) {
  .c-tableOutline_place tr td {
    padding: 10px;
  }
}

/*----------------------------------
Product Outline
----------------------------------*/
.p-productOutline {
  margin: 60px 0 0;
}

.p-productOutline_title {
  position: relative;
  margin: 0 0 44px;
  padding: 0 0 20px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}

.p-productOutline_title::before {
  position: absolute;
  left: 50%;
  bottom: -16px;
  content: '';
  display: block;
  height: 16px;
  width: 46px;
  background: url(/img/bg1.png) 0 0 no-repeat;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.p-productOutline_table {
  width: 100%;
  border: 1px solid #f2f2f2;
}

.p-productOutline_table th,
.p-productOutline_table td {
  padding: 15px 30px;
  border: 1px solid #f2f2f2;
  vertical-align: top;
  color: #333;
}

.p-productOutline_table th {
  width: 31.263158%;
  background: #f9f9f7;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .p-productOutline_title::before {
    bottom: -2.13333vw;
    height: 2.13333vw;
    width: 6.13333vw;
    background-size: 6.13333vw auto;
  }
  .p-productOutline_table {
    border-bottom: none;
    font-size: 12px;
  }
  .p-productOutline_table th,
  .p-productOutline_table td {
    display: block;
    width: auto;
    padding: 15px 20px;
    border-left: none;
    border-right: none;
  }
  .p-productOutline_table th {
    border-top: none;
    border-bottom: none;
  }
}

/*----------------------------------
Contents Navi
----------------------------------*/
.p-contentsNavi {
  margin: 80px 0 0;
  padding: 30px;
  background: #f1f1ec;
}
.p-contentsNavi_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -30px;
}
.p-contentsNavi_item {
  width: calc(100%/3 - 30px);
  margin: 15px 0 0 30px;
  background: #fff;
}
.p-contentsNavi_item a {
  position: relative;
  display: block;
  padding: 15px 35px;
  border: 1px solid #ededed;
  text-decoration: none;
  text-align: center;
  color: #333;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.p-contentsNavi_item a:hover {
  color: #d30000;
}
.p-contentsNavi_item a::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  content: '';
  display: block;
  height: 12px;
  width: 7px;
  margin: auto 0;
  background: url(/img/arr0.png) 0 0 no-repeat;
  background-size: 7px 12px;
}

@media screen and (max-width: 767px) {
  .p-contentsNavi {
    margin: 30px 0 0;
    padding: 20px;
  }
  .p-contentsNavi_list {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }
  .p-contentsNavi_item {
    width: auto;
    margin: 0;
  }
  .p-contentsNavi_item+.p-contentsNavi_item {
    margin-top: 10px;
  }
  .p-contentsNavi_item a {
    padding: 10px 25px;
  }
  .p-contentsNavi_item a::after {
    right: 10px;
    height: 12px;
    width: 7px;
    margin: auto 0;
    background: url(/img/arr0.png) 0 0 no-repeat;
    background-size: 7px 12px;
  }
}

/*----------------------------------
Form Style
----------------------------------*/
/*----------------------------------
Media Style
----------------------------------*/
