@charset 'utf-8';

@font-face {
  font-family: 'Oswald Regular';
  src: url('/font/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('/font/Oswald-Bold.ttf') format('truetype');
  font-style: normal;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Cs-item {
  background-color: #fff;
  border: 1px solid #ededed;
}

.Cs-item a {
  color: #000;
  text-decoration: none;
}

.Cs-item figure {
  overflow: hidden;
  border-top: 1px solid #ededed;
  line-height: 0;
}

.Cs-h {
  letter-spacing: 0.05em;
  line-height: 1;
}

.Cs-h span {
  display: block;
  font-family: 'Oswald Regular';
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .Cs-box {
    padding: 5.33333vw 5.33333vw 2.66667vw;
  }

  .Cs-h {
    font-size: 2.93333vw;
  }

  .Cs-h span {
    margin: 0 0 1.73333vw;
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Cs a {
    overflow: hidden;
  }

  .Cs a img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transform: scale(1);
  }

  .Cs a:hover img {
    opacity: 0.6;
    transform: scale(1.05);

    -webkit-transform: scale(1.05);
  }

  .Cs a p {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Cs a p span {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Cs a:hover p {
    color: #d30000;
  }

  .Cs a:hover p span {
    color: #d30000;
  }

  .Cs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }

  .Cs-box {
    padding: 40px 40px 20px;
  }

  .Cs-h {
    font-size: 16px;
  }

  .Cs-h span {
    margin: 0 0 13px;
    font-size: 22px;
  }
}

.Cs-inner {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Cs-tit {
  line-height: 1;
  text-align: center;
}

.Cs-tit span {
  display: block;
  font-weight: bold;
  letter-spacing: 0.5em;
}

.Cs-subtit {
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
}

.Cs-txt {
  letter-spacing: 0.05em;
  text-align: center;
}

.Cs-h {
  letter-spacing: 0.05em;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .Cs-inner {
    padding: 9.33333vw 0 45.33333vw;
    background-image: url('/img/bg_pic1_sp.png');
  }

  .Cs-tit {
    margin: 0 0 8.66667vw;
  }

  .Cs-tit img {
    width: 66.66667vw;
  }

  .Cs-tit span {
    margin: 1.73333vw 0 0;
    font-size: 2.93333vw;
  }

  .Cs-subtit {
    margin: 0 0 4vw;
    font-size: 4vw;
  }

  .Cs-txt {
    margin: 0 0 8.66667vw;
    font-size: 3.2vw;
    line-height: 1.7;
  }

  .Cs-txt span {
    font-size: 2.66667vw;
  }

  .Cs-list {
    padding: 0 5.33333vw;
  }

  .Cs-item {
    margin: 5.33333vw 0 0;
  }

  .Cs-item:first-child {
    margin: 0;
  }

  .Cs-h {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Cs-inner {
    padding: 70px 0 365px;
    background-image: url('/img/bg_pic1_pc.png');
  }

  .Cs-tit {
    margin: 0 0 68px;
  }

  .Cs-tit img {
    width: 500px;
  }

  .Cs-tit span {
    margin: 13px 0 0;
    font-size: 22px;
  }

  .Cs-subtit {
    margin: 0 0 38px;
    font-size: 24px;
  }

  .Cs-txt {
    margin: 0 0 65px;
    font-size: 14px;
    line-height: 1.7;
  }

  .Cs-txt span {
    font-size: 12px;
  }

  .Cs-list {
    width: 1240px;
  }

  .Cs-item {
    width: 610px;
    margin: 0 0 0 20px;
  }

  .Cs-item:first-child {
    margin: 0;
  }

  .Cs-h span {
    margin: 0 !important;
    font-size: 20px !important;
  }
}

.News {
  background-color: #fbfbf9;
}

.News-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.News-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.News-tit span + span {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic;
}

@media screen and (max-width: 767px) {
  .News-tit {
    font-size: 3.2vw;
  }

  .News-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .News-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .News-tit {
    font-size: 18px;
  }

  .News-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .News-tit span + span {
    font-size: 18px;
  }
}

.News-btn {
  display: block;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.News-btn._blank span {
  display: block;
  background: url('/img/icon_blank.png') 100% 50% no-repeat;
}

.News-btn._search {
  position: relative;
}

.News-btn._search span {
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
}

.News-btn._search:after {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  background: url('/img/icon_search.svg') 0 50% no-repeat;
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
}

.News-btn._w {
  background-color: #fff;
  color: #d30000;
  font-weight: bold;
}

.News-btn._w._blank span {
  background-image: url('/img/icon_link_blank.png');
}

.News-btn._cancel {
  background-color: #aaa;
}

.News-btn input[type=submit], .News-btn input[type=button] {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #d30000;
  color: #fff;
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .News-btn {
    border-radius: 3.2vw;
  }

  .News-btn._s {
    padding: 2.13333vw 0;
    font-size: 2.4vw;
  }

  .News-btn._m {
    padding: 2vw 0;
    font-size: 3.2vw;
  }

  .News-btn._m input[type=submit], .News-btn._m input[type=button] {
    font-size: 3.2vw;
  }

  .News-btn._l {
    padding: 1.33333vw 0;
    font-size: 3.46667vw;
  }

  .News-btn._search span {
    min-height: 3.33333vw;
    margin: 0 3.86667vw;
    background-size: 3.33333vw 3.33333vw;
    line-height: 3.33333vw;
  }

  .News-btn._search:after {
    left: 3.86667vw;
    height: 3.33333vw;
    width: 3.33333vw;
    background-size: 3.33333vw 3.33333vw;
  }

  .News-btn._blank span {
    margin: 0 3.86667vw;
    background-size: 1.86667vw 1.86667vw;
  }
}

@media print, screen and (min-width: 768px) {
  .News-btn {
    opacity: 1;
    border-radius: 24px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .News-btn:hover {
    opacity: 0.7;
  }

  .News-btn._s {
    padding: 11px 0;
    font-size: 12px;
  }

  .News-btn._m {
    padding: 15px 0;
    font-size: 14px;
  }

  .News-btn._m input[type=submit], .News-btn._m input[type=button] {
    font-size: 14px;
  }

  .News-btn._l {
    padding: 12px 0;
    font-size: 26px;
  }

  .News-btn._search {
    padding: 12px 0 !important;
  }

  .News-btn._search span {
    min-height: 20px;
    margin: 0 29px;
    background-size: 20px 20px;
    line-height: 20px;
  }

  .News-btn._search:after {
    left: 29px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }

  .News-btn._blank span {
    margin: 0 29px;
    background-size: 14px 14px;
  }
}

@media screen and (max-width: 767px) {
  .News {
    padding: 9.33333vw 5.33333vw;
  }

  .News-btn {
    width: 100%;
  }
}

@media print, screen and (min-width: 768px) {
  .News {
    padding: 70px 0;
  }

  .News-btn {
    width: 330px;
  }
}

.Recruit-inner {
  border: 1px solid #ededed;
}

.Recruit a {
  position: relative;
  color: #000;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.Recruit a span {
  display: block;
}

@media screen and (max-width: 767px) {
  .Recruit {
    padding: 9.33333vw 5.33333vw 15.6vw;
  }

  .Recruit a {
    display: block;
    padding: 0 0 42.66667vw;
    background: url('/img/company/recruit_pic0_sp.jpg') 0 100% no-repeat;
    background-size: 100% auto;
    font-size: 3.2vw;
  }

  .Recruit a span {
    padding: 5.86667vw 0 2.8vw 5.6vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Recruit {
    padding: 70px 0 117px;
  }

  .Recruit-inner {
    height: 240px;
    width: 800px;
    margin: 0 auto;
  }

  .Recruit a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    font-size: 24px;
    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .Recruit a:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    height: 100%;
    width: 400px;
    background: url('/img/company/recruit_pic0_pc.jpg') 100% 0 no-repeat;
    background-size: auto 100%;
  }

  .Recruit a span {
    width: 400px;
    text-align: center;
  }
}

.Company > div {
  position: relative;
  border-top: 1px solid #f2f2f2;
}

.Company > div:before {
  position: absolute;
  left: 50%;
  top: -1px;
  content: '';
  display: block;
  background-image: url('/img/bg1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .Company > div {
    margin: 6.66667vw 0 0;
    padding: 6.66667vw 5.33333vw 0;
  }

  .Company > div:before {
    height: 2.13333vw;
    width: 6.13333vw;
    background-size: 6.13333vw auto;
  }
}

@media print, screen and (min-width: 768px) {
  .Company > div {
    margin: 45px 0 0;
    padding: 70px 0 0;
  }

  .Company > div._enjoy {
    margin: 23px 0 0;
  }

  .Company > div:before {
    height: 16px;
    width: 46px;
  }
}

.Company-tit {
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.Company-tit span {
  display: block;
  font-family: 'Oswald Regular';
}

.Company-tit span + span {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic;
}

@media screen and (max-width: 767px) {
  .Company-tit {
    font-size: 3.2vw;
  }

  .Company-tit span {
    margin: 0 0 2.4vw;
    font-size: 5.06667vw;
  }

  .Company-tit span + span {
    font-size: 3.2vw;
  }
}

@media print, screen and (min-width: 768px) {
  .Company-tit {
    font-size: 18px;
  }

  .Company-tit span {
    margin: 0 0 13px;
    font-size: 26px;
  }

  .Company-tit span + span {
    font-size: 18px;
  }
}

.Company-item {
  line-height: 0;
}

.Company-item a {
  display: block;
  border: 1px solid #ededed;
  color: #000;
  text-decoration: none;
}

.Company-item span {
  display: block;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Company {
    padding: 9.33333vw 0;
  }

  .Company-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .Company-item figure {
    height: auto;
    width: 50%;
    border-right: 1px solid #ededed;
  }

  .Company-item span {
    display: block;
    width: 50%;
    margin: 0 3.73333vw 0 0;
    background: url('/img/arr0.png') 100% 50% no-repeat;
    background-size: 2vw auto;
    font-size: 3.2vw;
  }

  .Company-item + .Company-item {
    margin: 2.66667vw 0 0;
  }

  .Company._page .Company-item._row a + a {
    margin: 2.66667vw 0 0;
  }
}

@media print, screen and (min-width: 768px) {
  .Company {
    min-width: 1240px;
    padding: 81px 0 70px;
  }

  .Company-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .Company-item {
    width: 400px;
    margin: 0 10px;
  }

  .Company-item a {
    overflow: hidden;
  }

  .Company-item a img {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transform: scale(1);
  }

  .Company-item a:hover img {
    opacity: 0.6;
    transform: scale(1.05);

    -webkit-transform: scale(1.05);
  }

  .Company-item a span {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Company-item a span span {
    transition: color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .Company-item a:hover span {
    color: #d30000;
  }

  .Company-item a:hover span span {
    color: #d30000;
  }

  .Company-item figure {
    overflow: hidden;
    border-bottom: 1px solid #ededed;
  }

  .Company-item span {
    padding: 21px 0;
    font-size: 16px;
  }

  .Company._page .Company-item._row a + a {
    margin: 21px 0 0;
  }

  .Company._page .Company-item._row span {
    min-height: 37px;
    padding: 10px 0;
  }
}

.InfoEntry-item:nth-child(even) {
  background-color: #f5f5f2;
}

.InfoEntry-date {
  font-weight: bold;
}

.InfoEntry._csr .InfoEntry-item:nth-child(odd) {
  background-color: #fbfbf9;
}

.InfoEntry._info .InfoEntry-date {
  line-height: 1;
}

.InfoEntry-cat {
  line-height: 1;
}

.InfoEntry-cat span {
  display: block;
  letter-spacing: 0.08em;
  text-align: center;
}

.InfoEntry-cat._info span {
  border: 1px solid #e6e6e6;
}

.InfoEntry-cat._press span {
  background-color: #656565;
  border: 1px solid #656565;
  color: #fff;
  letter-spacing: 0;
}

.InfoEntry a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .InfoEntry._info {
    margin: 2.66667vw 0 1.73333vw;
  }

  .InfoEntry._info .InfoEntry-item {
    padding: 4vw;
  }

  .InfoEntry._news, .InfoEntry._csr {
    margin: 2.66667vw 0 4.66667vw;
  }

  .InfoEntry._news .InfoEntry-item, .InfoEntry._csr .InfoEntry-item {
    padding: 2vw 4vw;
  }

  .InfoEntry-date {
    float: left;
    width: 20.53333vw;
    padding: 1.06667vw 0 0;
    font-size: 2.66667vw;
  }

  .InfoEntry-cat {
    float: left;
    width: 21.33333vw;
    font-size: 2.4vw;
  }

  .InfoEntry-cat span {
    padding: 0.66667vw 0;
  }

  .InfoEntry-txt {
    clear: both;
    padding: 2.4vw 0 0;
    font-size: 2.93333vw;
    line-height: 1.8;
  }

  .InfoEntry._headInfo .InfoEntry-txt {
    margin: -0.53333vw 0 0;
    padding: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .InfoEntry-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .InfoEntry._headInfo .InfoEntry-item {
    align-items: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .InfoEntry._info {
    width: 1170px;
    margin: 32px auto 36px;
  }

  .InfoEntry._info .InfoEntry-item {
    padding: 18px 74px;
  }

  .InfoEntry._info .InfoEntry-date {
    padding: 5px 0 0;
  }

  .InfoEntry._info .InfoEntry-cat {
    padding: 3px 0 0;
  }

  .InfoEntry._news, .InfoEntry._csr {
    width: 1170px;
    margin: 21px auto 30px;
  }

  .InfoEntry._news .InfoEntry-item, .InfoEntry._csr .InfoEntry-item {
    padding: 18px 50px;
  }

  .InfoEntry._news .InfoEntry-date, .InfoEntry._news .InfoEntry-txt, .InfoEntry._csr .InfoEntry-date, .InfoEntry._csr .InfoEntry-txt {
    line-height: 1.8;
  }

  .InfoEntry._news .InfoEntry-date, .InfoEntry._csr .InfoEntry-date {
    width: 140px;
  }

  .InfoEntry-date {
    width: 112px;
    font-size: 16px;
  }

  .InfoEntry-cat {
    width: 127px;
    font-size: 12px;
  }

  .InfoEntry-cat span {
    width: 107px;
    padding: 3px 0;
  }

  .InfoEntry-txt {
    width: 692px;
    font-size: 16px;
  }

  .InfoEntry a:hover {
    text-decoration: underline;
  }
}
